* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: linear-gradient(black, rgb(71, 70, 70));
}

.page-container {
    width: 100vw;
    min-height: 100vh;
}

form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 10px;
    justify-items: start;
    align-items: center;
    
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: start;
    align-items: center;
    color: white;
    font-family: "Pacifico";
    font-size: 30px;
    padding-bottom: 100px;
}

#my-library {
    justify-self: start;
    margin-left: 205px;
}

#library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 50px;
    justify-content: center;
}

.book-card {
    display: grid;
    color: black;
    height: 210px;
    max-width: 300px;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

.card-header {
    font-family: "Pacifico";
    font-size: 30px;
}

.card-body {
    font-size: 18px;
    font-weight: bold;
    display: grid;
}

.card-buttons {
    justify-self: center;
    display: flex;
    flex-direction: row;
}
.remove-button,
.toggle-read-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-family: "Pacifico";
    color: white;
    font-size: 18px;
}

.remove-button {
    background-color: red;
}

.remove-button:hover {
    cursor: pointer;
}

.toggle-read-button {
    background-color: blue;
    margin-left: 20px;
}

.toggle-read-button:hover {
    cursor: pointer;
}

.book-pages {
    justify-self: center;
    padding-bottom: 10px;
}

.read-status {
    justify-self: center;
}

#dialog {
    top: 150px;
    left: 35vw;
}

#add-book,
#submit {
    justify-self: center;
}

#submit {
    width: 416px;
    height: 50px;
    color: white;
    background-color: blue;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid blue;

}

#title-wrapper,
#author-wrapper,
#pages-wrapper,
#read-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}
#title,
#author,
#pages,
#read {
    width: 250px;
    height: 3vh;
    margin-left: 10px;
}


#new-book-btn {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 150px;
    height: 70px;
    justify-self: center;
    align-self: center;
    color: white;
    border: 10px solid white;
    border-radius: 10px;
    background-color: black;
    font-weight: bold;
}

#new-book-btn:hover {
    cursor: pointer;
    width: 110px;
    height: 60px;
}





